<?xml version="1.0" encoding="UTF-8"?>
<package version="3.0" xmlns="http://www.idpf.org/2007/opf"
         unique-identifier="bookid">

  <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
    <dc:title><%= meta['title'] %></dc:title>
    <dc:creator id="author"><%= meta['creator']['name'] %></dc:creator>
    <dc:language><%= meta['language'] %></dc:language>
    <dc:identifier id="bookid">urn:uuid:<%= meta['id'] %></dc:identifier>
    <dc:publisher><%= meta['publisher'] %></dc:publisher>
    <dc:rights><%= meta['rights'] %></dc:rights>

    <% meta['contributors'].each do |v| %>
    <dc:contributor><%= v %></dc:contributor>
    <% end %>

    <meta property="dcterms:modified"><%= meta['modified'] %></meta>
    <meta refines="#author" property="file-as"><%= meta['creator']['file-as'] %></meta>
  </metadata>

  <manifest>
    <item id="nav" href="nav.xhtml" media-type="application/xhtml+xml" properties="nav"/>
    <item id="cover_xhtml" href="cover.xhtml" media-type="application/xhtml+xml" />
    <item id="cover_png" href="cover.png" media-type="image/png" properties="cover-image"/>

    <% manifest[:items].each do |k,v| %>
    <item href="<%= k %>" media-type="<%= v[:mime] %>" id="<%= v[:id] %>"/>
    <% end %>
  </manifest>

  <spine>
    <itemref idref="cover_xhtml" />
    <itemref idref="nav" />

    <% manifest[:vertebrae].each do |v| %>
    <itemref idref="<%= v %>" />
    <% end %>
  </spine>
</package>
