<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:epub="http://www.idpf.org/2007/ops">
<head>
  <title>Contents</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
<nav epub:type="toc">
<h1 style="padding: 1em 0">Contents</h1>

<ol class="nav">
  <% toc[:body].each do |item| %>
  <li class="<%= item[:klass] %>"><a href="<%= item[:url] %>"><%= item[:name] %></a></li>
  <% end %>
</ol>
  
</nav>

<nav epub:type="landmarks" style="display: none">
  <ol>
    <li><a epub:type="cover" href="cover.xhtml">Cover</a></li>
    <li><a epub:type="toc" href="nav.xhtml">Contents</a></li>
  </ol>
</nav>

</body>
</html>
