<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title/>
  <style>
    dfn {
      font-style: italic;
    }
  </style>  
</head>

<body>
<h1 class="title unnumbered" style="display: none">Colophon</h1>

<dl>
  <dt><dfn>Initial epub release</dfn></dt>
  <dd>October 2020</dd>

  <dt><dfn>Latest update</dfn></dt>
  <dd><%= meta['modified'] %></dd>

  <dt><dfn>Rights</dfn></dt>
  <dd><%= meta['rights'] %></dd>

  <dt><dfn>Repository</dfn></dt>
  <dd><a href='<%= meta['repo'] %>'><%= meta['repo'] %></a></dd>
</dl>
  
</body>
</html>
