<?xml version='1.0' encoding='utf-8'?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:epub="http://www.idpf.org/2007/ops"
      style="height: 100%">
<head>
  <title><%= meta['title'] %></title>
</head>
<body style="height: 100%; margin: 0">
  <img src="cover.png" alt="A cover image"
       style="display: block; height: 100%; margin: auto"/>
</body>
</html>
