p {
  text-align: justify;
}

p:not([class]) {
  margin: 0;
  padding: 0;
}

p:not([class]) + p:not([class]),
table + p:not([class]),
p.character + p:not([class]),
img + p:not([class]),
blockquote + p:not([class]) {
  text-indent: 2em;
}

p + p.character,
p.mathjax + p {
  text-indent: 0;
}

/* inline svg in a epub */
p.mathjax > svg {
  margin: 0 auto;
  display: block;
  height: 3em;
  width: auto;
}

/* external svg in a k8 mobi, for kindlegen replaces inline svgs with
   external images */
img.mathjax {
  margin: 0 auto;
  display: block;
  height: 3em;
  width: auto;
}

p.character > em:first-child {
  display: inline-block;
  padding-right: 1em;
}

.dropcap {
  font-variant: small-caps;
  font-size: 120%;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 3em 0;
  font-size: 1.5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  border: 1px solid black;
}

caption {
  text-transform: uppercase;
  font-weight: bold;
}

th {
  font-weight: normal;
  font-style: italic;
}

table.tbl-idcard tr td {
  vertical-align: top;
  width: 5em;
  text-align: center;
}

table.tbl-namecard tr td {
  vertical-align: bottom;
  width: 4em;
  text-align: center;
}

blockquote.ad {
  font-family: monospace;
  margin-left: 2em;
  margin-right: 0;
}

/* nav.xhtml */

.nav {
  padding: 0;
}

.nav li {
  list-style-type: none;
}
